html {
  font-size: 100%;
}

body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  color: #803dd6;
  font-family: 'Corben', cursive;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  text-shadow: -0.4rem 0.25rem 0 #fffbdc;
  margin: 0;
  padding-top: 2.5rem;
}

h2 {
  color: #454545;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  text-shadow: -0.1rem 0.1rem 0 #fffbdc;
  margin: 0;
}

h3 {
  color: #803dd6;
  font-family: 'Corben', cursive;
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: -0.25rem 0.15rem 0 #fffbdc;
  margin: 0;
}

h4 {
  color: #454545;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.button {
  display: block;
  width: 144px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    #ffc45f7b 0%,
    #ff97567b 40%,
    #f577517b 100%
  );
  border-radius: 0.2rem;
  border: 2px solid #fffbdc;
  color: #454545;
  text-decoration: none;
}
.search-button:hover {
  background: linear-gradient(
    180deg,
    #ffc45f7b 0%,
    #ff97567b 40%,
    #f577517b 100%
  );
}
